  <div id="posts" class="transitions-enabled">
    <% @posts.each do |post| %>
      <div class="box-post panel panel-default">
        <%= image_tag post.hinhanh.url(:medium) %>
        <div class="panel">
          <%= post.description %>
          <%= post.user.email if post.user %>
          <%= link_to 'Show', post %>
          <% if post.user == current_user %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>